nav{
	position: fixed;
	background-color: #0d5b1d;
	height: 6vh;
	width: 100%;
}

header{
	background-image: url("../img/erdo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}

#ikon{
	float: right;
	margin-right: 3vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
	
#ikon:hover{
	opacity: 30%;
}

.kerek{
	text-align: center;
}
	
.fa{
	width: 18vh;
	margin: 8vh;
	margin-bottom: 0px;
}
	
.fa:hover{
	opacity: 30%;
}

#szoveg{
	text-align: justify;
	font-size: large;
	margin: 4em;
}

footer{
	background-color: grey;
	height: 20vh;
	width: 100%;
}